@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{

}

@layer components{
    .link{
        @apply bg-rose-300
    }
    .progress-item{
        @apply flex flex-col items-center
    }
    .progress-bar{
        @apply absolute top-1/4 h-[3px] w-full bg-cyan-m
    }
    .progress-box{
        @apply bg-cyan-m z-10 w-fit rounded-md bg-cyan-m px-2 text-white
    }
    .btn-builder{
        @apply bg-orange-m text-white px-6 py-3 text-sm rounded-sm
    }
    .btn-builder.disabled{
        @apply bg-gray-400
    }
}
.input-checkbox{
    @apply flex flex-row
}
.input-checkbox>input{
    @apply -order-1 ;
    width: min-content;
    margin-right: 10px;
    margin-top: 0px
}
.input-checkbox>label{
}

@layer utilities{
}